<link rel="stylesheet" href="./style.css">

<table class="legend">

	<!-- xbprc -->      
	[% CASE WHEN length(htmlprc) > 1 THEN concat('
	<tr>
		<td class="colorTd"><span class="colorBox" style="background: #ff6600;"></span></td>
		<td>
			<strong>Appellations Villages Premiers Crus</strong>
			<br/>
			<em>Pouilly-Fuissé Premier Cru</em>
			<br/>
		</td>
	</tr>
	')
	ELSE ''
	END
	%]
		
	<!-- xbavi -->
	[% CASE WHEN length(htmlavi) > 1 THEN concat('
	<tr>
		<td class="colorTd"><span class="colorBox" style="background: #ffbf0d;"></span></td>
		<td>
			<strong>Appellations Villages</strong>
			<br/>
			<em>
				',"htmlavi",'
			</em>
			<br/>
		</td>
	</tr>
	')
	ELSE ''
	END
	%]
	
	  
	<!-- xbmvm_pasdenomgeo -->
	[% CASE WHEN insee = '71099' or insee = '71135' or insee = '71195' or insee = '71250' or insee = '71258' or insee = '71383' or insee = '71448' or insee = '71487' or insee = '71494' or insee = '71513' or insee = '71584' THEN concat('
	<tr>
		<td class="colorTd"><span class="colorBox" style="background:#69b022"></span></td>
		<td>
		<strong>Appellation Régionale Bourgogne</strong>
		<br/>
		<strong>Appellation Régionale Mâcon</strong> pouvant être suivie de la mention Villages pour les vins blancs
		<br/>
		</td>
	</tr>
	')
	ELSE ''
	END
	%]

  
	<!-- xbmvm_denomgeo / xbmvm_denomgeo_vinblanc -->
  	[% CASE WHEN insee = '21010' or insee = '21013' or insee = '21017' or insee = '21037' or insee = '21050' or insee = '21054' or insee = '21058' or insee = '21070' or insee = '21077' or insee = '21086' or insee = '21093' or insee = '21099' or insee = '21109' or insee = '21110' or insee = '21133' or insee = '21149' or insee = '21150' or insee = '21161' or insee = '21162' or insee = '21166' or insee = '21169' or insee = '21173' or insee = '21182' or insee = '21186' or insee = '21192' or insee = '21194' or insee = '21195' or insee = '21196' or insee = '21200' or insee = '21219' or insee = '21223' or insee = '21231' or insee = '21241' or insee = '21254' or insee = '21265' or insee = '21267' or insee = '21289' or insee = '21295' or insee = '21297' or insee = '21302' or insee = '21309' or insee = '21343' or insee = '21368' or insee = '21373' or insee = '21378' or insee = '21384' or insee = '21390' or insee = '21393' or insee = '21397' or insee = '21401' or insee = '21407' or insee = '21409' or insee = '21412' or insee = '21419' or insee = '21428' or insee = '21435' or insee = '21442' or insee = '21444' or insee = '21450' or insee = '21460' or insee = '21461' or insee = '21464' or insee = '21465' or insee = '21480' or insee = '21485' or insee = '21488' or insee = '21492' or insee = '21499' or insee = '21506' or insee = '21512' or insee = '21523' or insee = '21527' or insee = '21541' or insee = '21569' or insee = '21582' or insee = '21590' or insee = '21597' or insee = '21606' or insee = '21617' or insee = '21628' or insee = '21653' or insee = '21658' or insee = '21688' or insee = '21693' or insee = '21698' or insee = '21700' or insee = '21711' or insee = '21712' or insee = '21714' or insee = '21716' or insee = '71005' or insee = '71007' or insee = '71016' or insee = '71019' or insee = '71031' or insee = '71032' or insee = '71034' or insee = '71035' or insee = '71036' or insee = '71037' or insee = '71039' or insee = '71042' or insee = '71051' or insee = '71052' or insee = '71057' or insee = '71058' or insee = '71066' or insee = '71067' or insee = '71069' or insee = '71070' or insee = '71072' or insee = '71073' or insee = '71074' or insee = '71078' or insee = '71080' or insee = '71084' or insee = '71085' or insee = '71087' or insee = '71094' or insee = '71100' or insee = '71105' or insee = '71109' or insee = '71122' or insee = '71124' or insee = '71126' or insee = '71130' or insee = '71146' or insee = '71147' or insee = '71149' or insee = '71150' or insee = '71151' or insee = '71156' or insee = '71159' or insee = '71164' or insee = '71169' or insee = '71171' or insee = '71174' or insee = '71182' or insee = '71183' or insee = '71188' or insee = '71193' or insee = '71201' or insee = '71202' or insee = '71214' or insee = '71221' or insee = '71226' or insee = '71235' or insee = '71236' or insee = '71241' or insee = '71245' or insee = '71247' or insee = '71249' or insee = '71264' or insee = '71267' or insee = '71272' or insee = '71274' or insee = '71284' or insee = '71288' or insee = '71292' or insee = '71294' or insee = '71299' or insee = '71302' or insee = '71308' or insee = '71324' or insee = '71338' or insee = '71343' or insee = '71345' or insee = '71350' or insee = '71353' or insee = '71360' or insee = '71369' or insee = '71371' or insee = '71374' or insee = '71377' or insee = '71378' or insee = '71392' or insee = '71400' or insee = '71403' or insee = '71404' or insee = '71416' or insee = '71417' or insee = '71425' or insee = '71430' or insee = '71431' or insee = '71442' or insee = '71447' or insee = '71455' or insee = '71459' or insee = '71460' or insee = '71461' or insee = '71464' or insee = '71468' or insee = '71480' or insee = '71485' or insee = '71492' or insee = '71495' or insee = '71496' or insee = '71498' or insee = '71501' or insee = '71503' or insee = '71507' or insee = '71512' or insee = '71515' or insee = '71525' or insee = '71543' or insee = '71563' or insee = '71572' or insee = '71574' or insee = '71582' or insee = '89001' or insee = '89021' or insee = '89023' or insee = '89024' or insee = '89038' or insee = '89045' or insee = '89078' or insee = '89084' or insee = '89098' or insee = '89108' or insee = '89118' or insee = '89130' or insee = '89137' or insee = '89149' or insee = '89153' or insee = '89155' or insee = '89202' or insee = '89206' or insee = '89211' or insee = '89212' or insee = '89256' or insee = '89262' or insee = '89270' or insee = '89315' or insee = '89319' or insee = '89337' or insee = '89341' or insee = '89364' or insee = '89393' or insee = '89409' or insee = '89418' or insee = '89423' or insee = '89426' or insee = '89438' or insee = '89441' or insee = '89446' or insee = '89447' or insee = '89479' or insee = '89484' or insee = '71210' or insee = '71270' or insee = '71305' or insee = '71526' or insee = '71567' THEN concat('
	<tr>
		<td class="colorTd"><span class="colorBox" style="background:#69b022"></span></td>
		<td>
			<strong>Appellation Régionale Bourgogne</strong>
			<br/>
			<strong>Appellation Régionale Mâcon</strong> plus dénomination géographique
			<br/>
			<strong>Appellation Régionale Mâcon</strong> pouvant être suivie de la mention Villages pour les vins blancs
			<br/>
		</td>
	</tr>
	')
	ELSE ''
	END
	%]
	
	
	<!-- xbmvm_denomgeo_toutvinblanc -->
  	[% CASE WHEN insee = '71550' or insee = '71583' or insee = '71550' THEN concat('
  	<tr>
    		<td class="colorTd"><span class="colorBox" style="background:#69b022"></span></td>
    		<td>
     			 <strong>Appellation Régionale Bourgogne</strong>
     		 	<br/>
     		 	<strong>Appellation Régionale Mâcon</strong> plus dénomination géographique pour les vins blancs
    		 	 <br/>
    		  	<strong>Appellation Régionale Mâcon</strong> pouvant être suivie de la mention Villages pour les vins blancs
    		  	<br/>
    		</td>
  	</tr>
  	')
  	ELSE ''
  	END
  	%]
  	
  	<!-- Exception Serrière -->
  	[% CASE WHEN insee = '71518' THEN concat('
  	<tr>
		<td class="colorTd"><span class="colorBox" style="background:#69b022"></span></td>
		<td>
			<strong>Appellation Régionale Bourgogne</strong> pour les vins blancs
			<br/>
			<strong>Appellation Régionale Mâcon</strong> plus dénomination géographique pour les vins rouges
			<br/>
      			<strong>Appellation Régionale Mâcon</strong> pouvant être suivie de la mention Villages pour les vins blancs
      			<br/>
		</td>
	</tr>
  	')
  	ELSE ''
  	END
  	%]


	<!-- xbmvc -->
	[% CASE WHEN length(htmlmvc) > 1 AND (insee <>  '71074' AND insee <>  '71481' AND insee <>  '71108' AND insee <>  '71084' AND insee <>  '71258' AND insee <>  '71487' AND insee <>  '71090' AND insee <>  '71362' AND insee <>  '71372' AND insee <>  '71385' AND insee <> '71521') THEN concat('
	<tr>
		<td class="colorTd"><span class="colorBox" style="background:#a4c538;"></span></td>
		<td>
			<strong>Appellations Régionales :</strong> Coteaux Bourguignons, Bourgogne aligoté, Mâcon, Bourgogne Passe-tout-grains, Bourgogne mousseux, Crémant de Bourgogne
			<br/>
		</td>
	</tr>
	')
	ELSE ''
	END
	%]
	
	
	<!-- Exception Sigy-le-Châtel-->
	[% CASE WHEN length(htmlmvc) > 1 AND insee = '71521' THEN concat('
	<tr>
		<td class="colorTd"><span class="colorBox" style="background:#a4c538;"></span></td>
		<td>
      			<strong>Appellation Régionale Mâcon</strong>  plus dénomination géographique pour les vins rouges
      			<br/>
			<strong>Appellations Régionales :</strong> Coteaux Bourguignons, Bourgogne aligoté, Mâcon, Bourgogne Passe-tout-grains, Bourgogne mousseux, Crémant de Bourgogne
			<br/>
		</td>
	</tr>
	')
	ELSE ''
	END
	%]

 
	<!-- xbmvc_beau_coteau -->
  	[% CASE WHEN insee = '71074' or insee = '71084' or insee = '71090' or insee = '71108' or insee = '71150' or insee = '71258' or insee = '71362' or insee = '71372' or insee = '71385' or insee = '71481' or insee = '71487' THEN concat('
  	<tr>
  		<td class="colorTd"><span class="colorBox" style="background: repeating-linear-gradient(45deg, #809fa6, #809fa6 4px, #a4c538 4px, #a4c538 11px);"></span></td>
    		<td>
      			<strong>Appellations Régionales :</strong> Crémant de Bourgogne
     			<br/>
      			<strong>La commune appartient également à l’aire géographique des appellations du Beaujolais</strong>
      			<br/>
   		 </td>
  	</tr>
  	')
  	ELSE ''
  	END 
  	%]
  
</table>