<link rel="stylesheet" href="./style.css">

<table class="legend">


    [% CASE WHEN length(htmlmvc) > 1 THEN concat('
    <tr>
        <td class="colorTd"><span class="colorBox"
                style="background: repeating-linear-gradient(45deg,#809fa6,#809fa6 4px,#a4c538 4px,#a4c538 11px);;"></span>
        </td>
        <td>
            <strong>Appellations Régionales :</strong> Crémant de Bourgogne
            <br />
            <strong>La commune appartient également à l’aire géographique des appellations du Beaujolais</strong>
            <br />
        </td>
    </tr>
    ')

    ELSE ''

    END
    %]

</table>