<link rel="stylesheet" href="./style.css">

<table class="legend">
    [% case when length(htmlgrc) > 1 and "nom" <> 'CHABLIS' then concat('
        <tr>
            <td class="colorTd"><span class="colorBox" style="background:#ae2a31;"></span></td>
            <td>
                <strong>Appellations Grands Crus</strong>
                <br>
                <em>
                    ',"htmlgrc",'
                </em>
                <br>
            </td>
        </tr>
        ')
        when length(htmlgrc) > 1 and "nom" = 'CHABLIS' then concat('
        <tr>
            <td class="colorTd"><span class="colorBox" style="background:#ae2a31;"></span></td>
            <td>
                <strong>Appellations Grands Crus</strong>
                <br>
                <em>
                    Chablis Grand Cru
                </em>
                <br>
            </td>
        </tr>
        ')
        else ''
        end
        %]
        [% if (length(htmlprc) > 1 , concat('
        <tr>
            <td class="colorTd"><span class="colorBox" style="background:#ff6600;"></span></td>
            <td>
                <strong>Appellations Villages Premiers Crus</strong>
                <br>
                <em>
                    ',"htmlprc",'
                </em>
            </td>
        </tr>
        '),'') %]

        [% if (length(htmlavi) > 1 , concat('
        <tr>
            <td class="colorTd"><span class="colorBox" style="background:#ffbf0d;"></span></td>
            <td>
                <strong>Appellations Villages</strong>
                <br>
                <em>
                    ',"htmlavi",'
                </em>
            </td>
        </tr>
        '),'') %]
        [% if (length(htmldgc) > 1 , concat('
        <tr>
            <td class="colorTd"><span class="colorBox" style="background:#1b962b;"></span></td>
            <td>
                <strong>Appellation Régionale Bourgogne</strong> plus dénomination géographique
                <br>
                <em>
                    ',"htmldgc",'
                </em>
            </td>
        </tr>
        '),'') %]
        [% if (length(htmlbgb) > 1 , concat('
        <tr>
            <td class="colorTd"><span class="colorBox" style="background:#69b022;"></span></td>
            <td>
                <strong>Appellation Régionale Bourgogne</strong>
            </td>
        </tr>
        '),'') %]
        [% if (length(htmlbg) > 1 , concat('
        <tr>
            <td class="colorTd"><span class="colorBox" style="background:#a4c538;"></span></td>
            <td>
                <strong>Appellations Régionales :</strong> Coteaux Bourguignons, Bourgogne aligoté, Bourgogne
                Passe-tout-grains, Bourgogne mousseux, Crémant de Bourgogne
            </td>
        </tr>
        '),'') %]
</table>