h3 {
    font-family: Roboto;
    font-size: 12px;
    color: #646567;
}

table.legend {
    text-align: justify;
    font-family: "Roboto";
    color: #646567;
    font-size: 12px;
    width: 450px;
}

td {
    padding: 5px;
}

td.colorTd {
    vertical-align: top;
    width: 20px;
}

span.colorBox {
    display: inline-block;
    height: 15px;
    width: 20px;
}

ul {
    list-style-type: none;
}