<link rel="stylesheet" href="./style.css">

<table class="legend-A3">

    <!-- Légende Bourgogne -->

    [% case when length(htmlgrc)> 1 and "denominati" ilike '%Bourgogne%' then concat('
    <tr>
        <td class="colorTd-A3"><span class="colorBox-A3" style="background:#ae2A31;"></span></td>
        <td>
            <strong>Appellations Grands Crus</strong>
        </td>
    </tr>
    ')
    else ''
    end %]
    [% case when length(htmlprc) > 1 and "denominati" ilike '%Bourgogne%' then concat('
    <tr>
        <td class="colorTd-A3"><span class="colorBox-A3" style="background:#ff6600;"></span></td>
        <td>
            <strong>Appellations Villages Premiers Crus</strong>
        </td>
    </tr>
    ')
    else ''
    end %]

    [% case when length(htmlavi) > 1 and "denominati" ilike '%Bourgogne%' then concat('
    <tr>
        <td class="colorTd-A3"><span class="colorBox-A3" style="background:#ffbf0d;"></span></td>
        <td>
            <strong>Appellations Villages</strong>
        </td>
    </tr>
    ')
    else ''
    end %]

    [% case when length(htmldgc) > 1 and "denominati" ilike '%Bourgogne%' then concat('
    <tr>
        <td class="colorTd-A3"><span class="colorBox-A3" style="background: #3396b5;"></span></td>
        <td>
            <strong>',"htmldgc",'</strong>
        </td>
    </tr>
    ')
    else ''
    end %]

    [% case when length(htmldgc) > 1 and "denominati" ilike '%Bourgogne%' then concat('
    <tr>
        <td class="colorTd-A3"><span class="colorBox-A3" style="background:#1b962b;"></span></td>
        <td>
            <strong>Appellation Régionale Bourgogne</strong> plus dénomination géographique
        </td>
    </tr>
    ')
    else ''
    end %]

    [% case when length(htmlbgb) > 1 and "denominati" ilike '%Bourgogne%' then concat('
    <tr>
        <td class="colorTd-A3"><span class="colorBox-A3" style="background:#69b022;"></span></td>
        <td>
            <strong>Appellation Régionale Bourgogne</strong>
        </td>
    </tr>
    ')
    else ''
    end %]

    [% case when length(htmlbg) > 1 and "denominati" ilike '%Bourgogne%' then concat('
    <tr>
        <td class="colorTd-A3"><span class="colorBox-A3" style="background:#a4c538;"></span></td>
        <td>
            <strong>Appellations Régionales</strong>
        </td>
    </tr>
    ')
    else ''
    end %]

    <!-- Légende Mâconnais -->

    [% case when (length(htmlavi) > 1 and "denominati" ilike '%Mâcon%') or "denominati" ilike '%Mâcon-Vinzelles%' or
    "denominati" ilike '%Mâcon-Loché%' then concat('
    <tr>
        <td class="colorTd-A3"><span class="colorBox-A3" style="background:#ffbf0d;"></span></td>
        <td>
            <strong>Appellations Villages</strong>
            <br>
        </td>
    </tr>
    ')
    else ''
    end %]

    [% case when length(htmlmvm) > 1 and "denominati" ilike '%Mâcon%' then concat('
    <tr>
        <td class="colorTd-A3"><span class="colorBox-A3" style="background:#69b022;"></span></td>
        <td>
            <strong>Appellation Régionale Bourgogne</strong>
            <br>
            <strong>Appellation Régionale Mâcon</strong> plus dénomination géographique
            <br>

            <br>
            <strong>Appellation Régionale Mâcon</strong> pouvant être suivie de la mention Villages pour les vins blancs
        </td>
    </tr>
    ')
    else ''
    end %]

    [% case when length(htmlmvc) > 1 and "denominati" ilike '%Mâcon%' then concat('
    <tr>
        <td class="colorTd-A3"><span class="colorBox-A3" style="background:#a4c538;"></span></td>
        <td>
            <strong>Appellations Régionales</strong>
        </td>
    </tr>
    ')
    else ''
    end %]

    [% case when length(htmlmvc) > 1 and "denominati" ilike '%Mâcon-chaintré%'then concat('
    <tr>
        <td class="colorTd-A3"><span class="colorBox-A3" style=" background: repeating-linear-gradient(
45deg,
#809fa6,
#809fa6 4px,
#a4c538 4px,
#a4c538 11px);"></span></td>
        <td>
            <strong>Appellations Régionales</strong>
            <br>
            <strong>La commune appartient également à l’aire géographique des appellations du Beaujolais</strong>
        </td>
    </tr>
    ')
    else ''
    end %]

</table>
