<link rel="stylesheet" href="./style.css">

<table class="legend-A2">

<!-- Bourgogne -->

[% case when length("htmlgrc") > 1 and "legendegrc" is null then concat('
<tr>
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#ae2a31;"></span></td>
<td>
<strong>Appellations Grands Crus</strong>
</td>
</tr>
')
when length("htmlgrc") > 1 and length("legendegrc") > 1 and "appellatio" <> 'Chablis Grand Cru' then concat('
<tr>
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#ae2a31;"></span></td>
<td>
<strong>Appellations Grands Crus</strong>
<br>
<em>
',"legendegrc",'
</em>
</td>
</tr>
')
when length("htmlgrc") > 1 and length("legendegrc") > 1 and "appellatio" = 'Chablis Grand Cru' then concat('
<tr>
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#ae2a31;"></span></td>
<td>
<strong>Appellations Grands Crus</strong>
<br>
<em>
Chablis Grand Cru
</em>
</td>
</tr>
')
else ''
end
%]

[% case when length("htmlprc") > 1 and "legendeprc" is null then concat('
<tr>
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#ff6600;"></span></td>
<td>
<strong>Appellations Villages Premiers Crus</strong>
</td>
</tr>
')
when length("htmlprc") > 1 and length("legendeprc") > 1 then concat('
<tr>
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#ff6600;"></span></td>
<td>
<strong>Appellations Villages Premiers Crus</strong>
<br>
<em>
',"legendeprc",'
</em>
<br>
</td>
</tr>
')
else ''
end
%]

[% case when length("htmlavi") > 1 and "legendeavi" is null then concat('
 <tr>
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#ffbf0d;"></span></td>
<td>
<strong>Appellations Villages</strong>
<br>
</td>
</tr>
')
when length("htmlavi") > 1 and length("legendeavi") > 1 then concat('
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#ffbf0d;"></span></td>
<td>
<strong>Appellations Villages</strong>
<br>
<em>
',"legendeavi",'
</em>
<br>
</td>
</tr>
')
else ''
end
%]

[% case when  length("htmldgc") > 1 and "legendedgc" is null and "id_app" <> '216' and "id_app" <> '217' and "id_app" <> '218' and "id_app" <> '229' and "id_app" <> '246' and "id_app" <> '583' and "id_app" <> '246' then concat('
 <tr>
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#1b962b;"></span></td>
<td>
<strong>Appellation Régionale Bourgogne</strong> plus dénomination géographique
</td>
</tr>
')
when  length("htmldgc") > 1 and length("legendedgc") > 1 and "id_app" <> '216' and "id_app" <> '217' and "id_app" <> '218' and "id_app" <> '229' and "id_app" <> '246' and "id_app" <> '583' and "id_app" <> '246' then concat('
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#1b962b;"></span></td>
<td>
<strong>Appellation Régionale Bourgogne</strong> plus dénomination géographique
<br>
<em>
',"legendedgc",'
</em>
</td>
</tr>
')
else ''
end
%]

[% case when  length("htmlbgb") > 1 and "legendebgb" is null and "id_app" <> '216' and "id_app" <> '217' and "id_app" <> '218' and "id_app" <> '229' and "id_app" <> '246' and "id_app" <> '583' and "id_app" <> '246' then concat('
<tr>
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#69b022;"></span></td>
<td>
<strong>Appellation Régionale Bourgogne</strong>
</td>
</tr>
')
when length("htmlbgb") > 1 and length("legendebgb") > 1 and "id_app" <> '216' and "id_app" <> '217' and "id_app" <> '218' and "id_app" <> '229' and "id_app" <> '246' and "id_app" <> '583' and "id_app" <> '246' then concat('
<tr>
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#69b022;"></span></td>
<td>
<strong>Appellation Régionale Bourgogne</strong>
<br>
<em>
',"legendebgb",'
</em>
</td>
</tr>
')
when length("htmlbgb") > 1 and length("legendebgb") > 1 and "appellatio" = 'Bourgogne' and "id_app" <> '216' and "id_app" <> '217' and "id_app" <> '218' and "id_app" <> '229' and "id_app" <> '246' and "id_app" <> '583' and "id_app" <> '246' then concat('
<tr>
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#69b022;"></span></td>
<td>
<strong>Appellation Régionale Bourgogne</strong>
<br>
<em>
Bourgogne
</em>
</td>
</tr>
')
else ''
end
%]

[% case when length("htmlbg") > 1 and "legendebg" is null and "id_app" <> '216' and "id_app" <> '217' and "id_app" <> '218' and "id_app" <> '229' and "id_app" <> '246' and "id_app" <> '583' and "id_app" <> '246' then concat('
<tr>
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#a4c538;"></span></td>
<td>
<strong>Appellations Régionales</strong>
</td>
</tr>
')
when length("htmlbg") > 1 and length("legendebg") > 1 and "appellatio" <> 'Coteaux Bourguignons ou Bourgogne grand ordinaire ou Bourgogne ordinaire' and "id_app" <> '216' and "id_app" <> '217' and "id_app" <> '218' and "id_app" <> '229' and "id_app" <> '246' and "id_app" <> '583' and "id_app" <> '246' then concat('
<tr>
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#a4c538;"></span></td>
<td>
<strong>Appellations Régionales</strong>
<br>
<em>
',"legendebg",'
</em>
</td>
</tr>
')
when length("htmlbg") > 1 and length("legendebg") > 1 and "appellatio" = 'Coteaux Bourguignons ou Bourgogne grand ordinaire ou Bourgogne ordinaire' and "id_app" <> '216' and "id_app" <> '217' and "id_app" <> '218' and "id_app" <> '229' and "id_app" <> '246' and "id_app" <> '583' and "id_app" <> '246' then concat('
<tr>
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#a4c538;"></span></td>
<td>
<strong>Appellations Régionales</strong>
<br>
<em>
Coteaux Bourguignons
</em>
</td>
</tr>
')
else ''
end
%]

<!-- Mâconnais -->

[% case when "id_app" = '216' or "id_app" = '217' or "id_app" = '218' or "id_app" = '229' or "id_app" = '246' or "id_app" = '246' then concat('
<tr>
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#69b022;"></span></td>
<td>
<strong>Appellations Régionales Bourgogne</strong>
<br>
<strong>Appellation Régionale Mâcon</strong> plus dénomination géographique
<br>
<strong>Appellation Régionale Mâcon</strong> pouvant être suivie de la mention Villages pour les vins blancs
</td>
</tr>
')
else ''
end
%]

[% case when "id_app" = '583' then concat('
<tr>
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#69b022;"></span></td>
<td>
<strong>Appellations Régionales Bourgogne</strong>
<br>
<strong>Appellation Régionale Mâcon</strong> plus dénomination géographique
<em>
',"legendedgc",'
</em>
<br>
<strong>Appellation Régionale Mâcon</strong> pouvant être suivie de la mention Villages pour les vins blancs
<br>
</td>
</tr>
')
else ''
end
%]

[% case when "id_app" = '216' or "id_app" = '217' or "id_app" = '218' or "id_app" = '229' or "id_app" = '246' or "id_app" = '583' or "id_app" = '246' then concat('
<tr>
<td class="colorTd-A2"><span class="colorBox-A2" style="background:#a4c538;"></span></td>
<td>
<strong>Appellations Régionales</strong>
</td>
</tr>
')
else ''
end
%]

[% case when "id_app" = '216' or "id_app" = '229' or "id_app" = '583' then concat('
<tr>
<td class="colorTd-A2"><span class="colorBox-A2" style=" background: repeating-linear-gradient(
45deg,
#809fa6,
#809fa6 4px,
#a4c538 4px,
#a4c538 11px);"></span></td>
<td>
<strong>Appellations Régionales</strong>
<br>
<strong>La commune appartient également à l’aire géographique des appellations du Beaujolais</strong>
<br>
</td>
</tr>
')
else ''
end
%]

</table>