h3 {
    font-family: Roboto;
    font-size: 12px;
    color: #646567;
}

table.legend-A3 {
    text-align: justify;
    font-family: "Roboto";
    color: #646567;
    font-size: 12px;
    width: 450px;
}

table.legend-A2 {
    text-align: justify;
    font-family: "Roboto";
    color: #646567;
    font-size: 14px;
    width: 600px;
}

table.legend-A1 {
    text-align: justify;
    font-family: "Roboto";
    color: #646567;
    font-size: 16px;
    width: 750px;
}

td {
    padding: 5px;
}

td.colorTd-A3 {
    vertical-align: top;
    width: 20px;
}

td.colorTd-A2 {
    vertical-align: top;
    width: 20px;
}

td.colorTd-A1 {
    vertical-align: top;
    width: 20px;
}

span.colorBox-A3 {
    display: inline-block;
    height: 15px;
    width: 20px;
}

span.colorBox-A2 {
    display: inline-block;
    height: 17px;
    width: 23px;
}

span.colorBox-A1 {
    display: inline-block;
    height: 20px;
    width: 27px;
}

ul {
    list-style-type: none;
}