<link rel="stylesheet" href="./style.css">

<table class="legend-vertical">
    <tr>
        <td class="colorTd"><span class="colorBox" style="background:#ae2a31;"></span></td>
        <td>
            <strong>Appellations Grands Crus</strong>
        </td>
    </tr>
    <tr>
        <td class="colorTd"><span class="colorBox" style="background:#ff6600;"></span>
        </td>
        <td>
            <strong>Appellations Villages Premiers Crus</strong>
        </td>
    </tr>
    <tr>
        <td class="colorTd"><span class="colorBox" style="background:#ffbf0d;"></span>
        </td>
        <td>
            <strong>Appellations Villages</strong>
        </td>
    </tr>
</table>
<ul>
    <li>
        <h3>Appellation Régionale Bourgogne plus dénomination géographique</h3>
    </li>
    <li>
        <table class="legend">
            <tr>
                <td class="colorTd"><span class="colorBox" style="background:#00daac;"></span>
                </td>
                <td>Bourgogne Côte Chalonnaise</td>
            </tr>
            <tr>
                <td class="colorTd"><span class="colorBox" style="background:#005ba0;"></span>
                </td>
                <td>Bourgogne Hautes Côtes de Beaune</td>
            </tr>
            <tr>
                <td class="colorTd"><span class="colorBox" style="background:#a347ff;"></span>
                </td>
                <td>Bourgogne Hautes Côtes de Nuits</td>
            </tr>
            <tr>
                <td class="colorTd"><span class="colorBox" style="background:#3296b4;"></span>
                </td>
                <td>Bourgogne Côte d'Or</td>
            </tr>
            <tr>
                <td class="colorTd"><span class="colorBox" style="background:#666600;"></span>
                </td>
                <td>Bourgogne La Chapelle Notre-Dame</td>
            </tr>
        </table>
    </li>
</ul>
<table class="legend-vertical">
    <tr>
        <td class="colorTd"><span class="colorBox" style="background:#1b962b;"></span>
        </td>
        <td>
            <strong>Appellation Régionale Bourgogne</strong>
        </td>
    </tr>
    <tr>
        <td class="colorTd"><span class="colorBox" style="background-color:#a4c538;"></span>
        </td>
        <td>
            <strong>Appellations Régionales : </strong>Coteaux Bourguignons, Bourgogne aligoté, Bourgogne
            Passe-tout-grains, Bourgogne mousseux, Crémant de Bourgogne
        </td>
    </tr>
</table>