<link rel="stylesheet" href="./style.css">

<table class="legend">

    <tr>
        <td class="colorTd"><span class="colorBox" style="background:#ff6600;"></span>
        </td>
        <td>
            <strong>Appellations Villages Premiers Crus</strong>
        </td>
    </tr>

    <tr>
        <td class="colorTd"><span class="colorBox" style="background:#ffbf0d;"></span></td>
        <td>
            <strong>Appellations Villages</strong>
        </td>
    </tr>

    <tr>
        <td class="colorTd"><span class="colorBox" style="background:#69b022;"></span></td>
        <td>
            <strong>Appellation Régionale Bourgogne</strong>
            <br>
            <strong>Appellation Régionale Mâcon</strong> plus dénomination géographique
            <br>
            <strong>Appellation Régionale Mâcon</strong> pouvant être suivie de la mention Villages pour les vins blancs
        </td>
    </tr>

    <tr>
        <td class="colorTd"><span class="colorBox" style="background:#a4c538;"></span></td>
        <td>
            <strong>Appellations Régionales :</strong> Coteaux Bourguignons, Bourgogne aligoté, Mâcon, Bourgogne
            Passe-tout-grains, Bourgogne mousseux, Crémant de Bourgogne
        </td>
    </tr>

    <tr>
        <td class="colorTd"><span class="colorBox" style=" background: repeating-linear-gradient(
	45deg,
	#809fa6,
	#809fa6 4px,
	#a4c538 4px,
	#a4c538 11px);"></span></td>
        <td>
            <strong>Appellations Régionales :</strong> Crémant de Bourgogne
            <br>
            <strong>Communes appartenant également à l’aire géographique des appellations du Beaujolais</strong>
        </td>
    </tr>

</table>