h3 {
    font-family: Roboto;
    font-size: 16px;
    color: #646567;
    padding-top: 0px;
    bottom: 0px;
}

table {
    text-align: justify;
    font-family: "Roboto";
    color: #646567;
    font-size: 16px;
}

table.legend {
    width: 850px;
}

table.legend-vertical {
    width: 800px;
}

table.legend-horizontal {
    width: 350px;
}

td {
    padding: 5px;
}

td.colorTd {
    vertical-align: top;
    padding: 5px;
    width: 27px;
}

span.colorBox {
    display: inline-block;
    height: 20px;
    width: 27px;
}

ul {
    list-style-type: none;
}