table.legend {
    text-align: justify;
    font-family: "Roboto";
    color: #646567;
    font-size: 36px;
    width: 870px;
    border-spacing: 0 15px;

}

td {
    padding: 5px;
}

td.colorTd {
    vertical-align: top;
    width: 20px;
}

span.colorBox {
    display: inline-block;
    height: 40px;
    width: 70px;
}