<link rel="stylesheet" href="./style.css">

<table class="legend">

    [% if ((length(htmlgrc) > 1 AND id_app <> '213'), concat('
    <tr>
        <td class="colorTd"><span class="colorBox" style="background:#ae2a31;"></span></td>
        <td>
            <strong>Appellations Grands Crus</strong>
        </td>
    </tr>
    '),'') %]
    [% CASE WHEN length(htmlprc) > 1 AND id_app <> '167' AND id_app NOT LIKE '168%' AND id_app NOT LIKE '171%' AND id_app NOT LIKE '214%' THEN concat('
    <tr>
        <td class="colorTd"><span class="colorBox" style="background:#ff6600;"></span></td>
        <td>
            <strong>Appellations Villages Premiers Crus</strong>
            <br>
            <em>
                ',"appellatio",' Premier Cru
            </em>
        </td>
    </tr>')
    WHEN length(htmlprc) > 1 AND id_app NOT LIKE '168%' AND id_app NOT LIKE '171%' AND (id_app = '167' OR id_app LIKE '214%') THEN concat('
    <tr>
        <td class="colorTd"><span class="colorBox" style="background:#ff6600;"></span></td>
        <td>
            <strong>Appellations Villages Premiers Crus</strong>
            <br>
            <em>
                ',"htmlprc",'
            </em>
        </td>
    </tr>')
    WHEN length(htmlprc) > 1 AND (id_app LIKE '168%' OR id_app LIKE '171%') THEN concat('
    <tr>
        <td class="colorTd"><span class="colorBox" style="background:#ff6600;"></span></td>
        <td>
            <strong>Appellations Villages Premiers Crus</strong>
        </td>
    </tr>')
    ELSE ''
    END %]

    [% if (length(appellatio) > 1 , concat('
    <tr>
        <td class="colorTd"><span class="colorBox" style="background:#ffbf0d;"></span></td>
        <td>
            <strong>Appellations Villages</strong>
            <br>
            <em>
                <!-- Utilise appellatio ici au lieu de htmlavi car on met en avant 1 village-->
                ',"appellatio",' 
            </em>
        </td>
    </tr>
    '),'') %]
    [% if (length(htmldgc) > 1 , concat('
    <tr>
        <td class="colorTd"><span class="colorBox" style="background:#1b962b;"></span></td>
        <td>
            <strong>Appellation Régionale Bourgogne</strong><br/>plus dénomination géographique
            <br>
        </td>
    </tr>
    '),'') %]
    [% if (length(htmlbgb) > 1 , concat('
    <tr>
        <td class="colorTd"><span class="colorBox" style="background:#69b022;"></span></td>
        <td>
            <strong>Appellation Régionale Bourgogne</strong>
        </td>
    </tr>
    '),'') %]
    [% if (length(htmlbg) > 1 , concat('
    <tr>
        <td class="colorTd"><span class="colorBox" style="background:#a4c538;"></span></td>
        <td>
            <strong>Appellations Régionales</strong>
        </td>
    </tr>
    '),'') %]

</table>